@model IEnumerable<hotlemangement.Models.proce>

@{
    ViewBag.Title = "Index";
}

<h2>业务管理</h2>

<p><a href="/proces/Create" class="btn btn-primary">添加 &raquo;</a></p>
<table class="table">
    <tr>
        <th>
            姓名
        </th>
        <th>
            性别
        </th>
        <th>
      身份证号码
        </th>
        <th>
          房间号
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
