@model hotelmangement.Models.Rometype

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rometype</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pnumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
