@model hotlemangement.Models.staff

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>员工</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          姓名：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
         工号：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num)
        </dd>

        <dt>
          所属部门：
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compartment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
